# SQL

SQL (Structured Query Language) is a standard language for storing, manipulating and retrieving data in databases. SQL statements are not case sensitive, and certain SQL programs require semi-colons at the end of the statement.

**Relational Database Management System**

RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.

Data in a RDMS is stored in tables, which consists of columns (fields) and rows (records).

**Major SQL Commands:**

* Select
* Update
* Delete
* Insert
* Where

### Select

Used to select and return data from a database. The returned data is stored in a result table, or a result-set.

In [ ]:
SELECT * FROM table1 --select all fields from table
SELECT column1, column2 FROM table1  --select certain fields from table

**Distinct**

In [ ]:
SELECT DISTINCT column1 FROM table1  --returns all unique values in column1
SELECT count(DISTINCT column1) FROM table1  --counts the number of unique values in column1

**Top/Limit/Fetch**

In [ ]:
/* syntax varies based on database systems */

SELECT TOP 10 * FROM table1 WHERE condition  --SQL Server/MS Access
SELECT TOP 5 percent * FROM table1 WHERE condition  --SQL Server/MS Access

SELECT * FROM table1 WHERE condition LIMIT 10  --MySQL

SELECT * FROM table1 WHERE condition FETCH FIRST 10 ROWS only  --Oracle
SELECT * FROM table1 WHERE condition FETCH FIRST 5 percent only  --Oracle

**Min Max**

In [ ]:
SELECT min(column1) FROM table1 WHERE condition

SELECT max(column1) FROM table1 WHERE condition

**Count, Average, Sum**

In [ ]:
SELECT count(*) FROM table1 WHERE condition  --return number of records that meet a condition
SELECT count(column1) FROM table1 WHERE condition  --return number of records in a specific column that meet a condition

SELECT avg(column1) FROM table1 WHERE condition

SELECT sum(column1) FROM table1 WHERE condition

**Alias**

AS is used to give a table or a column name an alias, which exists only for the duration of the query.

In [ ]:
SELECT column1 AS COLUMN_NAME FROM table1
SELECT column1 AS COLUMN_NAME1, column2 AS COLUMN_NAME2 FROM table1

SELECT column1 + column2 + column3 AS column4 FROM table1

SELECT column1 FROM table1 AS table_name

**Into**

Copy columns into a new table.

In [ ]:
SELECT * 
INTO newtable
FROM table1
WHERE

In [ ]:
SELECT column1, column2, column3
INTO newtable
FROM table1
WHERE

In [ ]:
/* Copy schema of one table into another table that will be blank */

SELECT *
INTO newtable
FROM table1
WHERE 1 = 0

**Insert Into Select**

Copy data from one table into a new table.

In [ ]:
INSERT INTO newtable
SELECT *
FROM table1
WHERE condition

### Where

Used to filter records in a table that meet a certain condition. SQL requires single quotes around strings, but not around numeric values.

**Where Operators**

* =
* '>'
* <
* '>='
* <=
* <> (not equal, may appear as != in some versions of SQL)
* Between (between a range)
* Like (search for a pattern)
* In (multiple possible values in a column)

In [ ]:
SELECT * FROM table1 WHERE condition;
SELECT * FROM table1 WHERE column1 = 'string';  --filter based on string
SELECT * FROM table1 WHERE column2 = 10;  --filter based on numeric value
SELECT * FROM table1 WHERE column3 IS NULL  --test for null values
SELECT * FROM table1 WHERE column3 IS NOT NULL  --test for values that are not null

**And, Or, Not**

Filter records based on more than one condition. 'And' requires that all conditions be true, whereas 'or' requires only requires any condition to be true. Not returns a condition if none of the conditions are true.

In [ ]:
SELECT * FROM table1 WHERE condition1 AND condition2
SELECT * FROM table1 WHERE NOT string = "a" AND NOT string = "b"
SELECT * FROM table1 WHERE columnA = "a" AND (columnB = "string" OR columnC = "string2")

**Like**

Used to search for a specific pattern in a column.

In [ ]:
SELECT * FROM table1 Where column1 LIKE pattern
SELECT * FROM table1 Where column1 LIKE 'a%'  --find values that start with 'a'
SELECT * FROM table1 Where column1 LIKE '%a'  --find values that end with 'a'
SELECT * FROM table1 Where column1 LIKE '%diamond%'  --find values that contain 'diamond'
SELECT * FROM table1 Where column1 NOT LIKE '%diamond%'  --find values that do not contain 'diamond'
SELECT * FROM table1 Where column1 LIKE '_r%'  --find values that contain the letter 'r' in the second position
SELECT * FROM table1 Where column1 LIKE 'a_%'  --find values that start with 'a' and are at least 2 characters long
SELECT * FROM table1 Where column1 LIKE 'a__%'  --find values that start with 'a' and are at least 3 characters long
SELECT * FROM table1 Where column1 LIKE 'a%o'  --find values that start with 'a' and end with 'o'

**Wildcard**

In [ ]:
SELECT * FROM table1 WHERE column1 LIKE 'h_t'  --returns values such as hot, hat, hit
SELECT * FROM table1 WHERE column1 LIKE 'h[oa]t'  --returns values such as hot, hat, but not hit
SELECT * FROM table1 WHERE column1 LIKE 'h[^oa]t'  --returns values such as hit, but not hot or hat
SELECT * FROM table1 WHERE column1 LIKE 'h[a-b]t'  --returns values such as hat and hbt
SELECT * FROM table1 WHERE column1 LIKE '[ac]%'  --returns values that start with 'a' or 'c'
SELECT * FROM table1 WHERE column1 LIKE '[a-c]%'  --returns values that start with 'a', 'b', or 'c'

**In**

In is shorthand for multiple OR statements.

In [ ]:
SELECT * FROM table1 WHERE column1 IN (value1, value2, value3)
SELECT * FROM table1 WHERE column1 NOT IN (value1, value2, value3)
SELECT * FROM table1 WHERE column1 IN (SELECT column1 FROM table2)

**Between**

In [ ]:
SELECT * FROM table1 WHERE column1 BETWEEN value1 AND value2
SELECT * FROM table1 WHERE column1 BETWEEN 1 AND 10
SELECT * FROM table1 WHERE column1 NOT BETWEEN 1 AND 10
SELECT * FROM table1 WHERE column1 BETWEEN 1 AND 10 AND column2 NOT IN (1, 3, 5)
SELECT * FROM table1 WHERE column1 BETWEEN 'apple' AND 'grape' ORDER BY column1
SELECT * FROM table1 WHERE column1 BETWEEN '1996-07-01' AND '1996-07-31'

**Exists**

Tests for the existence of any record in a subquery and returns TRUE if the subquery returns one or more records.

In [ ]:
/* Returns TRUE and lists the suppliers with a product price less than 20 */

SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);

**Any / All**

Perform a comparison between a single column value and a range of other values.

ANY - returns true if ANY of the subquery values meet the condition.<br>
ALL - returns true if ALL of the subquery values meet the condition.

In [ ]:
/* Returns the ProductName if it finds any records in the OrderDetails table have Quantity equal to 10  */

SELECT ProductName
FROM Products
WHERE ProductID = ANY 
    (SELECT ProductID FROM OrderDetails WHERE Quantity = 10);

In [ ]:
/* Return the ProductName if all the records in the OrderDetails table have Quantity equal to 10 */

SELECT ProductName
FROM Products
WHERE ProductID = ALL
  (SELECT ProductID
  FROM OrderDetails
  WHERE Quantity = 10);

### Order By

Sort the result-set in ascending or descending order. Default is ascending.

In [ ]:
SELECT * FROM table1 ORDER BY column1 ASC  --sort ascending
SELECT * FROM table1 ORDER BY column1 DESC  --sort descending
SELECT * FROM table1 ORDER BY column1 ASC, column2 DESC  --sort by two fields

### Insert Into

Adds new records into a table.

In [ ]:
INSERT INTO table1 (column3) VALUES (value3)  --add values into specific columns
INSERT INTO table1 VALUES (value1, value2, value3)  --add values into all columns

### Update

Modify existing records in a table.

In [ ]:
/* Without the where statement, all records in the table will be updated */

UPDATE table1 SET column1 = value1, column2 = value2 WHERE id = 1  --use where to specify which row/index to modify
UPDATE table1 SET column1 = value1 WHERE condition  --change all rows where the condition is met
UPDATE table1 SET column1 = value1  --update all records in column1 to value1

### Delete

Delete records from a table.

In [ ]:
/* without a where statement all records in the table will be deleted */

DELETE FROM table1 WHERE condition
DELETE FROM table1  --deletes all records in a table, but retains the table structure, attributes, and indexes

### Join

Used to combine records from two or more tables.

Types of joins:
* Inner Join
* Left (Outer) Join
* Right (Outer) Join
* Full (Outer) Join

**Inner Join**

Returns records that have matching values in both tables. If there are records in one table but not the other, they won't be shown.

In [14]:
from IPython.display import Image
Image(url= "https://www.w3schools.com/sql/img_innerjoin.gif")

In [ ]:
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;

In [ ]:
/* Select all orders with customer and shipper information */

SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName
FROM ((Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)
INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);

**Left Join**

Returns all records from the left table, and the matched records from the right table. Left Join returns all records from the left table even if there are not matches in the right table.

In [15]:
Image(url= "https://www.w3schools.com/sql/img_leftjoin.gif")

In [ ]:
SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;

**Right Join**

Returns all records from the right table, and the matched records from the left table. Right Join returns all records from the left table even if there are not matches in the right table.

In [16]:
Image(url= "https://www.w3schools.com/sql/img_rightjoin.gif")

In [ ]:
SELECT column_name(s)
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;

**Full Outer Join**

Returns all records in the left and right tables, whether there is a match or not, which can result in a a very large result-set.

In [17]:
Image(url= "https://www.w3schools.com/sql/img_fulljoin.gif")

In [ ]:
SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;

**Self Join**

Joins a table with itself. Requires using two different aliases for the same table.

In [ ]:
SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;

In [ ]:
/* Matches customers that are from the same city */

SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City 
ORDER BY A.City;

### Union

Combine the result-set of two or more SELECT statements. The SELECT statements withing the UNION statement must have the same number and order of columns and date data types.

In [ ]:
/* UNION selects only distinct values by default even if a record appears in both tables */

SELECT * FROM table1
UNION 
SELECT * FROM table2

In [ ]:
/* To select duplicate values across tables, use UNION ALL */

SELECT * FROM table1
UNION ALL
SELECT * FROM table2

In [ ]:
SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;

### Group By

Groups rows that have the same values into summary rows. Usually used with:
* COUNT()
* MAX()
* MIN()
* SUM()
* AVG()

In [ ]:
SELECT *
FROM table1
WHERE condition
GROUP BY column1
ORDER BY column2

In [ ]:
/* Returns number of customers per country */

SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;

In [ ]:
/* Returns the number of orders by shipper */

SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
GROUP BY ShipperName;

### Having

Used with aggregate functions, since WHERE cannot.

In [ ]:
/* Returns the number of customers per country, only for countries with more than 5 customers */

SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5
ORDER BY COUNT(CustomerID) DESC;

### Case

An if/then statement that returns a value when the first condition is met. If no conditions are true, returns the Else statement. If there is no Else statement, returns null.

In [ ]:
SELECT OrderID, Quantity,
CASE WHEN Quantity > 30 THEN 'The quantity is greater than 30'
WHEN Quantity = 30 THEN 'The quantity is 30'
ELSE 'The quantity is under 30'
END AS QuantityText  /*new column created that indicates if quantity is greater than, less than, or equal to 30*/
FROM OrderDetails;

In [ ]:
/*Sorts by City, but if City is null then sort by Country*/

SELECT CustomerName, City, Country
FROM Customers
ORDER BY
(CASE
    WHEN City IS NULL THEN Country
    ELSE City
END);

### Null Functions