# SQL

SQL (Structured Query Language) is a standard language for storing, manipulating and retrieving data in databases. SQL statements are not case sensitive, and certain SQL programs require semi-colons at the end of the statement.

**Relational Database Management System**

RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.

Data in a RDMS is stored in tables, which consists of columns (fields) and rows (records).

**Major SQL Commands:**

* Select
* Update
* Delete
* Insert
* Where

### Select

Used to select and return data from a database. The returned data is stored in a result table, or a result-set.

In [ ]:
select * from table1 --select all fields from table
select column1, column2 from table1  --select certain fields from table

In [ ]:
select distinct column1 from table1  --returns all unique values in column1
select count(distinct column1) from table1  --counts the number of unique values in column1

### Where

Used to filter records in a table that meet a certain condition. SQL requires single quotes around strings, but not around numeric values.

**Where Operators**

* =
* >
* <
* >=
* <=
* <> (not equal, may appear as != in some versions of SQL)
* Between (between a range)
* Like (search for a pattern)
* In (multiple possible values in a column)

In [ ]:
select * from table1 where condition;
select * from table1 where column1 = 'string';  --filter based on string
select * from table1 where column2 = 10;  --filter based on numeric value

**And, Or, Not**

Filter records based on more than one condition. 'And' requires that all conditions be true, whereas 'or' requires only requires any condition to be true. Not returns a condition if none of the conditions are true.

In [ ]:
select * from table1 where condition1 and condition2
select * from table1 where not string = "a" and not string = "b"
select * from table1 where columnA = "a" and (columnB = "string" or columnC = "string2")