# SQL

SQL (Structured Query Language) is a standard language for storing, manipulating and retrieving data in databases. SQL statements are not case sensitive, and certain SQL programs require semi-colons at the end of the statement.

**Relational Database Management System**

RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.

Data in a RDMS is stored in tables, which consists of columns (fields) and rows (records).

**Major SQL Commands:**

* Select
* Update
* Delete
* Insert
* Where

### Select

Used to select and return data from a database. The returned data is stored in a result table, or a result-set.

In [ ]:
select * from table1 --select all fields from table
select column1, column2 from table1  --select certain fields from table

**Distinct**

In [ ]:
select distinct column1 from table1  --returns all unique values in column1
select count(distinct column1) from table1  --counts the number of unique values in column1

**Top/Limit/Fetch**

In [ ]:
/* syntax varies based on database systems */

select top 10 * from table1 where condition  --SQL Server/MS Access
select top 5 percent * from table1 where condition  --SQL Server/MS Access
select * from table1 where condition limit 10  --MySQL
select * from table1 where condition fetch first 10 rows only  --Oracle
select * from table1 where condition fetch first 5 percent only  --Oracle

**Min Max**

In [ ]:
select min(column1) from table1 where condition
select max(column1) from table1 where condition

**Count, Average, Sum**

In [ ]:
select count(*) from table1 where condition  --return number of records that meet a condition
select count(column1) from table1 where condition  --return number of records in a specific column that meet a condition
select avg(column1) from table1 where condition
select sum(column1) from table1 where condition

### Where

Used to filter records in a table that meet a certain condition. SQL requires single quotes around strings, but not around numeric values.

**Where Operators**

* =
* >
* <
* >=
* <=
* <> (not equal, may appear as != in some versions of SQL)
* Between (between a range)
* Like (search for a pattern)
* In (multiple possible values in a column)

In [ ]:
SELECT * FROM table1 WHERE condition;
SELECT * FROM table1 WHERE column1 = 'string';  --filter based on string
SELECT * FROM table1 WHERE column2 = 10;  --filter based on numeric value
SELECT * FROM table1 WHERE column3 IS NULL  --test for null values
SELECT * FROM table1 WHERE column3 IS NOT NULL  --test for values that are not null

**And, Or, Not**

Filter records based on more than one condition. 'And' requires that all conditions be true, whereas 'or' requires only requires any condition to be true. Not returns a condition if none of the conditions are true.

In [ ]:
SELECT * FROM table1 WHERE condition1 AND condition2
SELECT * FROM table1 WHERE NOT string = "a" AND NOT string = "b"
SELECT * FROM table1 WHERE columnA = "a" AND (columnB = "string" OR columnC = "string2")

**Like**

Used to search for a specific pattern in a column.

In [ ]:
SELECT * FROM table1 Where column1 LIKE pattern
SELECT * FROM table1 Where column1 LIKE 'a%'  --find values that start with 'a'
SELECT * FROM table1 Where column1 LIKE '%a'  --find values that end with 'a'
SELECT * FROM table1 Where column1 LIKE '%diamond%'  --find values that contain 'diamond'
SELECT * FROM table1 Where column1 NOT LIKE '%diamond%'  --find values that do not contain 'diamond'
SELECT * FROM table1 Where column1 LIKE '_r%'  --find values that contain the letter 'r' in the second position
SELECT * FROM table1 Where column1 LIKE 'a_%'  --find values that start with 'a' and are at least 2 characters long
SELECT * FROM table1 Where column1 LIKE 'a__%'  --find values that start with 'a' and are at least 3 characters long
SELECT * FROM table1 Where column1 LIKE 'a%o'  --find values that start with 'a' and end with 'o'

### Order By

Sort the result-set in ascending or descending order. Default is ascending.

In [ ]:
SELECT * FROM table1 ORDER BY column1 ASC  --sort ascending
SELECT * FROM table1 ORDER BY column1 DESC  --sort descending
SELECT * FROM table1 ORDER BY column1 ASC, column2 DESC  --sort by two fields

### Insert Into

Adds new records into a table.

In [ ]:
INSERT INTO table1 (column3) VALUES (value3)  --add values into specific columns
INSERT INTO table1 VALUES (value1, value2, value3)  --add values into all columns

### Update

Modify existing records in a table.

In [ ]:
/* Without the where statement, all records in the table will be updated */

UPDATE table1 SET column1 = value1, column2 = value2 WHERE id = 1  --use where to specify which row/index to modify
UPDATE table1 SET column1 = value1 WHERE condition  --change all rows where the condition is met
UPDATE table1 SET column1 = value1  --update all records in column1 to value1

### Delete

Delete records from a table.

In [ ]:
/* without a where statement all records in the table will be deleted */

DELETE FROM table1 WHERE condition
DELETE FROM table1  --deletes all records in a table, but retains the table structure, attributes, and indexes

### Top